<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_customer_authenticated">
        <observer name="atopt_office_customer_authenticated" instance="Atopt\Office\Observer\LogCustomerEmail" />
    </event>
</config>